h1, h2 {
  font-family: Lato;
}

#id1{
  background-color: #63636C;
  
}
#id2,#id3,#id4{
  background-color:#555559;
  align-content: center;
}

#id5{
  background-color: #DC1AB8;
  
}

#id6{
  background-color: #2432E3;
}

#id7{
  background-color: #249EE3;
}

#id8{
  background-color: #7AE25F;
}
#id9{
  background-color: #FE0AC0;
}
#id10{
  background-color: #F90905;
}
 
#img{
  max-width: 100%;
}

#infoP{
  background-color: #D6CCCC;
  padding: 5%;
}
#premios{
  background-color: #C40DED;
  padding: 3%;
}
#skills{
  background-color: rgb(21, 115, 223);
  padding: 3%;
}
#img2{
  align-content: center;
  padding: 2%;
}
#h2{
  font-weight: bold;
  padding: 3%;
}
#h3{
  padding: 2%;
}
#alm,#inf,#los,#kam,#info,#ciu,#fech,#hij,#naci,#con,#pre,#sk{
  font-weight: bold;
}
#disc{
  padding: 5%;
  
}
#p1,#p2,#p3{
  padding: 5%;
}
#row3{
  padding: 5%;
}
#roww{
  padding: 3%;
}
#row2{
  padding: 5%;
}
#colm,#colm2{
  padding: 7%;
}
